Repository stackabletech/agent, pull requests merged in 2021-05, with the labels that each got.

#159 Volume mount package root hack for nifi
  src/provider/states/pod/creating_config.rs
Labels: priority/high, size/S, type/enhancement

#165 Move to Antora for documentation
  README.adoc
  docs/antora.yml
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/commandline_args.adoc
  docs/modules/ROOT/pages/configuration.adoc
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/installation/binaries.adoc
  docs/modules/ROOT/pages/installation/building.adoc
  src/bin/generate_doc.rs
Labels: priority/medium, size/M, type/documentation

#169 Adds a conditional action to build and push rpm and apt artifacts for pull requests to the dev repositories in nexus.
  .github/workflows/build_artifacts.yml
  .github/workflows/nightly.yml
Labels: priority/low, type/enhancement

#175 Bring Agent project setup up to current best practices
  .github/dependabot.yml
  .github/workflows/build_artifacts.yml
  .github/workflows/rust.yml
  Cargo.toml
  deploy/crd/repository.crd.yaml
Labels: priority/low, type/enhancement
